/* $Id:  */

/**
 * Styling for the se4champ bracket design
 */

/* Fonts */
div.bracket-subtitle {
  font-size: 1.25em;
}
div.bracket-comments {
  font-size: 1.0em;
}
div.bracket-round-comment {
  font-size: 1.25em;
}
div.bracket-match-competitor {
  font-size: 1.25em;
}
div.bracket-match-comment {
  font-size: 0.75em;
}
div.bracket-match-competitor-comment {
  font-size: 0.75em;
}
div.bracket-match-id {
  font-size: 0.75em;
}
div.bracket-match-score {
  font-size: 0.75em;
}
div.bracket-match-home {
  font-size: 0.75em;
}
div.bracket-result {
  font-size: 1.25em;
}
div.bracket-result-comment {
  font-size: 1.0em;
}

/* Logo images */
div.bracket-logo-image {
  position: absolute;
  top: 0px;
  left: 600px;
}
div.bracket-sponsorlogo-image {
  position: absolute;
  top: 250px;
  left: 600px;
}

/* Defines the top of the first match in Round 1 */
#round-1-spacer {
  height: 10px;
}
/* Defines the height of each match in Round 1 */
div.round-1-match {
  height: 100px;  
}
/* Defines some space between matches in Round 1 */
div.bracket-round-1-match-spacer {
  height: 50px;
}
/* Defines the top of the first match in Round 2 */
#round-2-spacer {
  height: 60px;
}
/* Defines the height of each match in Round 2 */
div.round-2-match {
  height: 170px;
}
/* Defines the top of first result */
#results-spacer {
  height: 150px;
}
